@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

:root{
scroll-behavior: smooth;

    --clr-back:#2B2D42;
    --clr-black:#27293a;
    --clr-gry:#555b64;
    --clr-font:#EDF2F4;
    --clr-font-light:#dcdfe0;
    --clr-font-dark:#33354d;
    --clr-blue-font:rgb(90, 90, 247);
    --type-font-nav: 'Roboto Mono', monospace;
    --type-font-title: 'Roboto Slab', serif;
    --type-font-subtitle: 'Unbounded', cursive;
    --type-font-paragraph: 'Kanit', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: var(--clr-font);
    text-decoration: none;
}

li{
    list-style-type: none;
}

body{
    background-image: url("../img/noise.png");
    background-color: var(--clr-back);
}   

p{
    color: var(--clr-font);
}


/* HEADER */
.logo img{
    width: 7rem;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-bottom:solid 1px var(--clr-gry);
    background-color: var(--clr-black);
    position: fixed;
    width: 100%;
}



.nav{
    display: flex;
    gap: 2rem;
    margin-right: 2.5rem;
    font-family: var(--type-font-nav);
}

.nav li a{
    font-size: 1.5rem;
    transition: color .3s;
    text-transform: lowercase;
}

.nav li a:hover{
    color:var(--clr-blue-font);

}

.nav li a::after{
    content: ">";
    transition: color .2s, transform .1s .2s;
    display: inline-block;
    color: var(--clr-gry);
}
.nav li a:hover::after{
    color: var(--clr-font);
    transform: translateX(.5rem);
    
}

.nav li a::before{
    content: "<";
    display: inline-block;
    transition: color .2s, transform .1s .2s;
    color: var(--clr-gry);
}
.nav li a:hover::before{
    color: var(--clr-font);
    transform: translateX(-.5rem);
}




/* HERO */
@keyframes scroll-icon {
    0% {
        transform: translateY(0) translateX(-50%);
    }
    75% {
        transform: translateY(-1rem) translateX(-50%);
    }
    100% {
        transform: translateY(0) translateX(-50%);
    }
}

.section{
    padding-top: 6rem;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding-inline: 1.5rem;
}

.secHero{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



.foto img{
    width: 15rem;
}

.hero{
    min-height: 100vh;
    padding-block: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.desc p{
    font-size: 2.5rem;
    color: var(--clr-font-light);
    font-family:var(--type-font-subtitle);
    font-weight: 200;
}


h1{
    font-size: 4.5rem;
    color: var(--clr-font);
    font-family: var(--type-font-title);
    font-weight: 500;
}

.desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    
}

.mouse-scrolling{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: var(--clr-gry);
    animation-name: scroll-icon;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.075, 0.82, 2, 2);
    animation-delay: 0;
    animation-direction: normal;
    transition: .3s;
}

.bi-mouse{
    font-size:2.5rem;
}


/* About */

.section-title{
    display: flex;
    align-items: center;
    text-transform: lowercase;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    font-family: var(--type-font-nav);
    color: var(--clr-font);
    gap: .5rem;
    transition: .3s;
    /* margin-bottom: 3rem; */
}

.section-title::before{
    font-family: var(--type-font-title);
    content: '<';
    color: var(--clr-gry);
    font-size: 3rem;
    transition: .1s;
}
.section-title::after{
    font-family: var(--type-font-title);
    content: '>';
    color: var(--clr-gry);
    font-size: 3rem;
    transition: .1s;
}

.section-title:hover::before{
    
    transform: translateX(-.5rem);
}

.section-title:hover::after{
    
    transform: translateX(.5rem);
}


.paragraph{
    font-size: 1.4rem;
    margin-bottom: 1em;
    color: var(--clr-font);
    font-family: var(--type-font-paragraph);
}

.paragraph a{
    color: var(--clr-blue-font);
    text-decoration: underline;
}

.paragraph-mini{
    font-size: .75rem;
}
.paragraph-mini a{
    color: var(--clr-blue-font);
    text-decoration:underline;
}

.section-footer{
    text-transform: lowercase;
    font-size: 2rem;
    font-weight: 400;
    text-align: right;
    color: var(--clr-gry);
    margin-top: 5rem;
    font-family: var(--type-font-nav);
    position: relative;
    z-index: -1;
}

.section-footer p{
    color: var(--clr-gry);
    font-weight: bold;
}

.section-footer p::before{
    content: '</';
}
.section-footer p::after{
    content: '>';
}

.skill-title{
    font-size: 1.5rem;
    color: var(--clr-font-light);
    font-weight: 900;
}

.skills-list{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    column-gap: 1rem;
    row-gap: .5rem;
    margin-top: 2rem;
}


.skill{
    background-color: var(--clr-back);
    padding: .5rem .75rem;
    border-radius: .25rem;
    border: 1px solid var(--clr-gry);
    transition: .2s;
    color: var(--clr-font);
    font-family: var(--type-font-paragraph);
}

.skill:hover{
    border: 1px solid var(--clr-blue-font);
}

/* portfolio */

.project-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 4rem;
}



.project{
    background-color: var(--clr-font-dark);
    padding: 2rem;
    border-radius: .25rem;
    border: 1px solid var(--clr-gry);
    transition: .2s;
}

.project-icons{
    display: flex;
    justify-content: end;
    gap: 1rem;
    margin-bottom: 1.4rem;
}

.project-icons ion-icon{
    font-size: 1.5rem;
    pointer-events: none;
    margin-right: auto;
    color: var(--clr-blue-font);
}

.project-icons a ion-icon{
    color: var(--clr-font);
}


.project-title{
    margin-bottom: 1rem;
    transition: .2s;
    font-family: var(--type-font-title);
    color: var(--clr-font);
}

.poject-skills{
    gap: .5rem;
    margin-top: 1.4rem;
}



.project:hover{
    border: 1px solid var(--clr-blue-font);
}
.project:hover .project-title{
    color: var(--clr-blue-font);
}

.project-icons a:hover ion-icon{
    color: var(--clr-blue-font);
}

.section-contact{
    margin-top: 3rem;
}

/* Footer */

.main-footer{
    padding-block: 3rem;
    
}

.main-footer-inner{
    display: flex;
    gap: 1rem;
    align-items: center;
    
}

.main-footer-inner a{
    font-size: 2.5rem;
    transition: .2s;
}

.main-footer-inner a:hover{
    color: var(--clr-blue-font);
}

.main-footer-inner p{
    margin-left: auto;
    color: var(--clr-gry);
    font-size: 1.1rem;
    font-family: var(--type-font-paragraph);
}

footer{
    margin-top: 8rem;
}

/* boton arriba */


.toTop {
    border: none;
    display: flex;
    cursor: pointer;
    transition: opacity 0.3s, transform 0.3s;
    position: fixed; 
    right: 1rem; 
    bottom: 1rem; 
    z-index: 9999;
    background-color: #252525;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 0.75rem;
    color: var(--clr-font);
}
.toTop:not(.is-visible) {
    pointer-events: none;
    opacity: 0;
    transform: translateY(-2rem);
}



.whatsapp {
    border: none;
    display: flex;
    cursor: pointer;
    transition: opacity 0.3s, transform 0.3s;
    position: fixed; 
    left: 1rem; 
    bottom: 1rem; 
    z-index: 9999;
    background-color: #252525;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 0.75rem;
    color: var(--clr-font);
}

