@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap');

:root{
    --clr-back:#2B2D42;
    --clr-black:#27293a;
    --clr-gry:#555b64;
    --clr-font:#EDF2F4;
    --clr-font-:#d1d3d4;
    --type-font-nav: 'Roboto Mono', monospace;
    --type-font-title: 'Roboto Slab', serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: var(--clr-font);
    text-decoration: none;
}

li{
    list-style-type: none;
}

body{
    background-image: url("../img/noise.png");
    background-color: var(--clr-back);
}   


/* HEADER */
.logo img{
    width: 7rem;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-bottom:solid 1px var(--clr-gry);
    background-color: var(--clr-black);
    position: fixed;
    width: 100%;
}

.nav{
    display: flex;
    gap: 2rem;
    margin-right: 2.5rem;
    font-family: var(--type-font-nav);
}

.nav li a{
    font-size: 1.5rem;
    transition: color .3s;
    text-transform: lowercase;
}

.nav li a:hover{
    color:rgb(90, 90, 247);

}

.nav li a::after{
    content: "/>";
    transition: color .2s, transform .1s .2s;
    display: inline-block;
    color: var(--clr-gry);
}
.nav li a:hover::after{
    color: var(--clr-font);
    transform: translateX(.5rem);
    
}

.nav li a::before{
    content: "<";
    display: inline-block;
    transition: color .2s, transform .1s .2s;
    color: var(--clr-gry);
}
.nav li a:hover::before{
    color: var(--clr-font);
    transform: translateX(-.5rem);
}




/* HERO */
@keyframes scroll-icon {
    0% {
        transform: translateY(0) translateX(-50%);
    }
    75% {
        transform: translateY(-1rem) translateX(-50%);
    }
    100% {
        transform: translateY(0) translateX(-50%);
    }
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding-inline: 1.5rem;
}

.secHero{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto img{
    width: 15rem;
}

.hero{
    min-height: 100vh;
    padding-block: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.desc p{
    font-size: 2.5rem;
    color: var(--clr-font-);
    font-family:var(--type-font-title);
    font-weight: 200;
}


h1{
    font-size: 4.5rem;
    color: var(--clr-font);
    font-family: var(--type-font-title);
    font-weight: 500;
}

.desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    
}

.mouse-scrolling{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: var(--clr-gry);
    animation-name: scroll-icon;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.075, 0.82, 2, 2);
    animation-delay: 0;
    animation-direction: normal;
    transition: .3s;
}

.bi-mouse{
    font-size:2.5rem;
}